/* やることの保存ボタン */
.Todo1Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 200px;
	/* 中央は665px */
	left: 400px;
}

.Todo2Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 250px;
	/* 中央は665px */
	left: 400px;
}	
.Todo3Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 300px;
	/* 中央は665px */
	left: 400px;
}

/* いつまでの保存ボタン */
.When1Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 200px;
	/* 中央は665px */
	left: 840px;
}

.When2Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 250px;
	/* 中央は665px */
	left: 840px;
}	
.When3Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 300px;
	/* 中央は665px */
	left: 840px;
}

/* 備考の保存ボタン */
.Remarks1Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 200px;
	/* 中央は665px */
	left: 1280px;
}

.Remarks2Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 250px;
	/* 中央は665px */
	left: 1280px;
}	
.Remarks3Button{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 300px;
	/* 中央は665px */
	left: 1280px;
}

.OutPutTodo{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 400px;
	/* 中央は665px */
	left: 220px;
}

.OutPutWhen{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 400px;
	/* 中央は665px */
	left: 660px;
}

.OutPutRemarks{
	position: absolute;
	/* background: pink; */
	width: 250px;
	height: 50px;
	top: 400px;
	/* 中央は665px */
	left: 1100px;
}